{% extends 'index.html' %}

{% block content %}
<section class="container my-5">
    <div style="width: 90%; margin: auto;">
        <h1 class="text-center text-decoration-underline">Les Categories de forums : </h1>
        <ul class="list-group list-group-flush">
            {% for forum in forums %}
            <li class="list-group-item mt-2 shadow-sm">
                <a class="text-decoration-none" href="{% url 'forum:discusions_list' forum.id %}">
                    <h4>{{forum.name}}</h4>
                </a>
                {{ forum.description}}
                <span class="d-block justify-content-espace-between ">Pulier par : {{ forum.created_by.username }}
                </span>
                <span class="d-block justify-content-espace-between ">Le {{ forum.created_at|date:"d/m/Y" }}
                </span>
            </li>
            {% empty %}
            <div>Aucun forum</div>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}