{% load static %}
<div>
    <h1> <strong>CONNAITRE L'INSEED</strong></h1>
    <p class="text-justify">
        L'Institut National de la Statistique, des Études Économiques et Démographiques est un établissement public à
        caractère administratif doté de la personnalité juridique et jouissant de l'autonomie de gestion.
        Il a pour mission d'assurer la coordination technique des activités du Système Statistique National, de réaliser
        des activités de production et de diffusion des données statistiques pour les besoins du Gouvernement, des
        administrations publiques, du secteur privé, des partenaires au développement et du public.

    </p>
    <strong> A ce titre, il est chargé de :</strong>
    <ul>
        <li> veiller à l'élaboration et à la mise en œuvre des programmes pluriannuels et annuels d'activités
            statistiques;</li>
        <li> définir et mettre en application des méthodes, concepts, définitions, normes, classifications et
            nomenclatures approuvés par le Conseil National de la Statistique;</li>
        <li>préparer les dossiers à soumettre aux réunions du Conseil National de la Statistique;</li>
        <li> réaliser toutes les enquêtes à couverture nationale et recensements généraux de la population et
            d'entreprises;</li>
        <li>délivrer les visas statistiques accordés par le Conseil National de la Statistique;</li>
        <li>produire les comptes nationaux;</li>
        <li>suivre la conjoncture économique en collaboration avec le Ministère en charge de l'Economie;</li>
        <li>élaborer et gérer les fichiers des entreprises et des villages;</li>
        <li> élaborer les indicateurs économiques, sociaux et démographiques;</li>
        <li> centraliser et diffuser l'information statistique produite par l'ensemble du système statistique national;
        </li>
        <li>favoriser le développement de la statistique et la recherche appliquée relevant de sa compétence;</li>
        <li>assurer la formation des statisticiens et démographes pour le fonctionnement du Système statistique national
            notamment au sein d'une école;</li>
        <li>gérer l'ensemble des ressources humaines de profils statisticien et démographe du SSN ainsi que son
            personnel administratif (recrutement, déploiement, supervision et évaluation du personnel).</li>
    </ul>
    <p>
        L'INSEED est, en outre, chargé du suivi de la coopération technique internationale en matière statistique.

        A ce titre, il représente le Tchad dans les réunions sous régionales, régionales et internationales relatives
        aux questions relevant de sa compétence et en assure le suivi.

    </p>
    <strong>L'INSEED est administré par :</strong>
    <ul>

        <li>
            un Conseil d'Administration;
        </li>
        <li>
            une Direction Générale.
        </li>
    </ul>
    <p>
        <strong>
            Documents fondamentaux régissant l’INSEED
        </strong>
    </p>
    <ul>
        <li> <strong>Loi N° 026/PR/2019 du 11 juin 2019</strong>, portant organisation et règlementation des activités
            statistiques au
            Tchad ;
        </li>
        <li>
            <strong> Décret N° 0969/PR/MEPD/2019 du 12 juillet 2019</strong>, portant Attributions, organisation et
            fonctionnement de
            l’Institut National de la Statistique, des Etudes Economiques et Démographiques (INSEED).
        </li>
    </ul>


    <!-- <h4><strong>ORGANISATION DE L’INSEED</strong></h4>
    <p>
        L’INSEED est dirigé par un Directeur Général, nommé par décret pris en Conseil des Ministres sur proposition du
        Ministre du Tutelle. Il est suppléé d’un Directeur Général adjoint nommé dans les mêmes conditions.
    </p>
    <strong>
        La Direction Générale est structurée en quatre (4) Directions techniques :
    </strong>
    <ul>
        <li>
            La Direction Administrative, Financière et des Ressources Humaines (DAFRH);
        </li>
        <li>
            La Direction des Statistiques Economiques (DES);
        </li>
        <li>
            La Direction des Statistiques Démographiques et Sociales (DSDS);
        </li>
        <li>
            La Direction du Management de l’Information et de l’Informatique (DMII).
        </li>
    </ul> -->
    <strong> TELECHARGER : </strong>
    <ol>
        <li>
            <a class="text-decoration-none" href="{% static 'docs/DECRET_PORTANT_CREATION_DE_INSEED.pdf' %}"
                target="_blank">LOI PORTANT LA
                CREATION
                DE L’INSEED</a>
        </li>
        <li>
            <a class="text-decoration-none"
                href="{% static 'docs/ARRETE_PORTANT_ORGANISATION_ET_FONCTIONNEMENT_DE_INSEED0.pdf' %}"
                target="_blank">DECRET
                PORTANT ORGANISATION ET FONCTIONNEMENT DE L’INSEED</a>
        </li>
    </ol>
    </p>
</div>