<div>
    <h1><strong>UN PEU D'HISTOIRE</strong></h1>
    <p>
        En 1954, il a été créé un Bureau de la Statistique rattaché à la Direction de l'Economie et dépendant
        techniquement du Bureau Central de la Statistique de l'Afrique Equatoriale Française (AEF), Bureau Central qui a
        disparu avec l'éclatement de la Fédération à l’indépendance. <br>

        En 1963, le Bureau fut érigé en un Service de la Statistique Générale rattaché au Commissariat au Plan.<br>

        En 1968, le Service devient une Direction de la Statistique et des Etudes Economiques (DSEE) regroupant les
        Services de Statistiques Générales, des Comptes Economiques et des Enquêtes et Recensements.<br>

        En 1972, la DSEE fut ramenée en une Sous-Direction relevant de la Direction du Plan et du Développement.<br>

        En 1978, un Décret Présidentiel du 12 mai 1978 sous le n° 116/P.CSM/MFPT/DG rétablit la Direction de la
        Statistique et des Etudes Economiques sous l'appellation Direction de la Statistique, des Etudes Economiques et
        Démographiques (DSEED). Cette appellation de DSEED est restée jusqu’au 14 septembre 2000, date de création de
        l’Institut National de la Statistique, des Etudes Economiques et Démographiques (INSEED) à la suite de la
        promulgation de la Loi n° 13/PR/1999 du 15 juin 1999 Portant Règlementation des Activités Statistiques au Tchad
        dans le cadre de la première réforme du Système Statistique National.<br>

        Ainsi, l’INSEED remplace la DSEED. L’INSEED est l’organe central de Statistique du Tchad. Il assure le
        secrétariat technique du CSS et assure également la présidence du CPS dans le cadre de l’élaboration des
        programmes statistiques. L’INSEED est administré par un Conseil d’Administration.<br>

        Le renforcement institutionnel s’est poursuivi jusqu’ à la promulgation de la loi N°026/PR/2019 du 11 juin 2019
        portant réglementation des activités statistiques et son décret d’application N° 0969/PR/MEPD/2019 du 12 juillet
        2019.<br>

    </p>
    <h4><strong>LES ACTIVITES DE L’INSEED</strong></h4>
    <ul>
        <li>ETABLIR LES DIAGNOSTICS CONJONCTURELS</li>
        <li>CONNAITRE LE SYSTÈME PRODUCTIF</li>
        <li>OBSERVER L'EVOLUTION DE LA SOCIÉTÉ</li>
        <li>REALISER LE RECENSEMENT DE LA POPULATION</li>
        <li>DÉCRIRE ET ANALYSER LES RÉGIONS ET LES TERRITOIRES</li>
        <li>GÉRER DES GRANDS RÉPERTOIRES</li>
        <li>DIFFUSER SES STATISTIQUES ET SES ETUDES</li>
        <li>PERFECTIONNER SES MÉTHODES ET EVALUER LA QUALITÉ</li>
    </ul>

</div>