<div class="my-5">
    <h2>LISTE DES AVIS DE RECRUTEMENT</h2>
    <table class="table">
        <thead>
            <tr>
                <th>INTITULE DE L'AVIS</th>
                <th>DATE LIMITE</th>
                <th>TDR</th>

            </tr>
        </thead>
        <tbody>
            {% for i in annonce %}
            <tr>
                <td>{{i.title}}</td>
                <td>{{i.date_line}}</td>
                <td><a href="{{ i.tdr.url }}">{{ i.tdr.name}} {{ i.tdr.url }}</a></td>
                <td><a href="{{ i.tdr.url }}">{{ i.tdr.name}} {{ i.tdr.url }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>