<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" href="/products/static/style.css"> -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'inseed/style.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"
      integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
      type="text/javascript"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <!-- <style>
    #google_translate_element {
        padding: 10px 20px;
        position: absolute;
    }
</style> -->

  <body>
    <div id="google_translate_element"></div>
    <header class="header">
      <div class="content">
        <div class="logo">
          <img src="{% static 'img/logo.jpg' %}" alt="" />
        </div>
        <nav class="navbar">
          <ul class="links">
            <li class="link">
              <a href="{% url 'products:index' %}">Accueil</a>
            </li>
            <li class="link">
              <a href="{% url 'analytique:home' %}">analytique</a>
            </li>
            <li class="link">
              <a href="{% url 'ajax_emp:home' %}">Ajax</a>
            </li>

            <li class="link">
              <a href="{% url 'List_product:list_products' %}"
                >Liste products</a
              >
            </li>
            <li class="link">
              <a href="{% url 'products:add_products' %}">Add product</a>
            </li>
            <li class="link"><a href="{% url 'inseed:inseed' %}">inseed</a></li>
            <li class="link">
              <a href="{% url 'forum:forum_list' %}">forum_list</a>
            </li>
            <li><a href="{% url 'career:career' %}">Career</a></li>

            <li class="link" style="position: relative">
              <a href="">apropos</a>
              <ul
                style="
                  position: absolute;
                  right: 0;
                  top: 50px;
                  background-color: blue;
                  width: 300px;
                "
              >
                <li>
                  <a href="{% url 'inseed_apropos:apropos' %}"
                    >Connaitre l'inseed</a
                  >
                </li>
                <li>
                  <a href="{% url 'inseed_apropos:organigrame' %}"
                    >Organisation et Fonctionnement</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    {% block content%} {% endblock %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en", // Change 'en' pour la langue par défaut de ton site
            includedLanguages: "en,fr,es,de,it,ar", // Liste des langues que tu veux proposer
            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
          },
          "google_translate_element"
        );
      }
    </script>
    {% block scripts %} {% endblock scripts %}
  </body>
</html>
